.container__book--selected {
  padding-top: 16px;
}

.book__selected {
  display: flex;
}

.book__selected--figure {
  width: 40%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__selected--img {
  max-height: 500px;
  width: auto;
  max-width: 100%;
}

.book__selected--description {
  width: 60%;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book__selected--top {
  padding: 0 24px;
  margin-bottom: 8px;
  font-size: 32px;
  color: #242424;
  display: flex;
  align-items: center;
}

.book__selected--link {
  color: #242424;
}

.fa-arrow-left {
  font-size: 30px;
}

.book__selected--title--top {
  margin-left: 10px;
  margin-bottom: 0;
}

.book__summary {
  margin-bottom: 16px;
}

.book__selected--title {
  margin-bottom: 8px
}

.book__summary--title {
  margin-bottom: 8px;
}

.book__summary--para {
  margin-bottom: 16px;
}

.book__price {
  font-size: 16px;
  margin: 8px 0 24px 0;
}

.link__breadcrumbs {
  color: #bfbfbf;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .book__selected {
    flex-direction: column;
  }
  .book__selected--figure {
    width: 100%;
    justify-content: flex-start;
  }
  .book__selected--description {
    width: 100%;
  }
}