.cart__header {
  background-color: #7342d6;
  margin: 0 24px;
  padding: 8px 16px;
  color: white;
  display: flex;
}

.cart__item {
  margin: 24px;
  display: flex;
  padding-right: 8px;
}

.cart__title {
  margin-bottom: 16px;
}

.cart__book {
  width: 60%;
  display: flex;
}

.cart__quantity {
  width: 40%;
  display: flex;
  align-items: center;
}

.cart__total {
  width: 100%;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.cart__input {
  padding: 8px;
  width: 60px;
}

.cart__book--img {
  width: 100%;
  max-width: 90px;
  max-height: 128px;
}


.cart__book--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
}

.cart__book--title {
  font-size: 20px;
  margin-bottom: 16px;
}

.cart__book--price {
  margin-bottom: 16px;
}

.cart__book--remove {
  background-color: transparent;
  color: #cf0000;
  border: none;
  padding-left: 0;
  width: 48px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 24px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  font-size: 16px;
  float: right;
}

.total__item {
  font-size: 18px;
  margin-bottom: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.total__sub-total {
  border-top: 2px solid #7342d6;
  padding-top: 24px;
}

.total__price {
  font-weight: bold;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__empty--img {
  padding: 40px;
  max-width: 400px;
}

.btn__checkout {
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
}

@media (max-width: 578px) {
  .cart__book--img {
    display: none;
  }
  .cart__book--info {
    padding-left: 0;
  }
}